<!doctype html>
<html>
	<head>
		<title>Socket.IO chat</title>
		<link rel='stylesheet' href='css/chatStyle.css'>

		<script src='https://cdn.socket.io/socket.io-1.2.0.js'></script>
		<script src='http://code.jquery.com/jquery-1.11.1.js'></script>
	</head>
	<body>
		<div id='maincontent'>

			<div id='roomsDiv'>
				<form align='center' id='roomForm' action=''>
					<input id='roomName' autocomplete='off' value='' maxlength='20' placeholder='Must be alphanumeric with no spaces' pattern='^[\w]+$' title='Alphanumeric Only'/>
					<input id='addRoom' type='submit' value='Add Room'/>
					<br/>

					<select id='chatrooms'></select>
				</form>
			</div>

			<div id='messagesContainer'>
				<ul id='messages'></ul>
			</div>

			<form align='center' id='messageForm' action=''>
				<input id='messageInput' autocomplete='off' />
				<input id='nameInput' autocomplete='off' value='A girl has no name'/>
				<input id='characterNameInput' autocomplete='off' value='Character Name (Waif)'/>
				<input id='sendMessage' type='submit' value='Send Message'/>
			</form>
		</div>

		<script>
			var socket = io();

			socket.on('init', function()
			{
				$("#chatrooms").val("default");
				$("#chatrooms").change();
			});

			socket.on('disconnect', function ()
			{
				$('#messages').empty();
				$('#chatrooms').empty();
			});
			
			socket.on('chat message', function(msg)
			{
				$('#messages').append(msg);
				$('#messagesContainer').scrollTop($('#messages')[0].scrollHeight);
			});

			socket.on('room update', function(room)
			{
				$('#chatrooms').append("<option value='" + room + "'>" + room + "</option>");
			});

			socket.on('clear chat', function(data)
			{
				$('#messages').empty();
			});

			$('#chatrooms').change(function()
			{
				console.log("FIRE!");

				$( "#chatrooms option:selected" ).each(function()
				{
					socket.emit('change room', $(this).text());
			    });				
			});

			$('#messageForm').submit(function()
			{
				var characterNameString = '<name>' + $('#characterNameInput').val() + '</name> ';
				var nameString = '<name>( ' + $('#nameInput').val() + ' ):</name>  ';
				var msgString = $('#messageInput').val();

				if(msgString == '')
					return false;

				socket.emit('chat message', characterNameString + nameString + msgString);
				$('#messageInput').val('');
				
				return false;
			});

			$('#roomForm').submit(function()
			{
				var roomName = $('#roomName').val().split(' ').join('_');

				if(roomName == '')
					return false;

				socket.emit('new room', roomName);
				$('#roomName').val('');
				
				return false;
			});
		</script>
	</body>
</html>
